/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Mvnw.cmd file ###
mvnw.cmd

### Configuration files ###
src/main/resources/private

### Log files ###
*.log
log.*

### Mac OS files ###
.DS_Store
